<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table">
  <tbody>
  <tr>
    <th scope="col">Event Id</th>
    <th scope="col">Event Date <span class="caret"></span></th>
    <th scope="col">Event Type</th>
    <th scope="col">Speaker</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
    <th scope="col">&nbsp;</th>
  </tr>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.event_id_dlp %></td>
        <td><%= event.event_date %></td>
        <td><%= event.event_type %></td>
        <td><%= event.speaker_name %></td>
        <!--<td><%#= link_to "Edit",edit_event_path(event), :class => 'label label-warning' %></td>-->
        <!--<td><%#= link_to "Delete", event_path(event),:method => :delete, :data => {:confirm => "Are You Sure!!"}, :class => 'label label-del' %></td>-->
        <td><a href="/expense/manage_event?id=<%= event.id %>">ME</a></td>
        <td><a href="/sign_in_sheet/sign_in_sheet?id=<%= event.id %>">SI</a></td>
        <!---->
        <% @sign_in = SignInSheet.where(:event_id => event.id).first %>
        <%#= @sign_in.inspect %>
        <% if @sign_in.present? %>
            <% total = @sign_in.non_profiled_attendee.to_f + @sign_in.prescribing_attendee.to_f + @sign_in.client_employee_attendee.to_f %>
        <% end %>
        <% total_fb_cost = event.expenses.where("expense_type =? or expense_type =? or expense_type =?", 'Meals (Deposit)', 'Meals', 'Meals_2') %>
        <% sum_of_total_fb_cost = "0" %>
        <% total_fb_cost.each do |a| %>
            <% sum_of_total_fb_cost = sum_of_total_fb_cost.to_f + a.amount.to_f %>
        <% end %>
        <% ns_hcp_1 = event.final_gurantee_count.to_f - total.to_f %>
        <% if ns_hcp_1 < 0 %>
            <% ns_hcp_1 = 0 %>
        <% end %>
        <% ns_hcp_2 = (sum_of_total_fb_cost.to_f/event.final_gurantee_count.to_f).to_f*ns_hcp_1 unless event.final_gurantee_count.blank? %>
        <% net_meal_cost = (sum_of_total_fb_cost.to_f - ns_hcp_2.to_f) unless ns_hcp_2.to_s == "NaN" unless ns_hcp_2.blank? %>
        <% meal_cost_per_attendee = (net_meal_cost.to_f/total.to_f).to_f unless net_meal_cost.to_s == "NaN" %>
        <!---->
        <% unless meal_cost_per_attendee.blank? %>
            <% if meal_cost_per_attendee.to_f < 150 || meal_cost_per_attendee.to_s == "NaN" %>
                <td><a href="/events/compliance?id=<%= event.id %>" style="color: green">C</a></td>
            <% else %>
                <td><a href="/events/compliance?id=<%= event.id %>" style="color: red">C</a></td>
            <% end %>
        <% else %>
            <td><a href="/events/compliance?id=<%= event.id %>">C</a></td>
        <% end %>

        <td>
          <img src="<%= event.speaker_travel_required? ? "/assets/travel2.1-478d7bd7e946a4add86037f8f0db19b3.png" : "/assets/travel26-075dd01fd9d8c789a2b04dc8bc380bb9.png" %>">
        </td>

        <% if event.is_lock == false %>
            <td><img style="width: 12px;height: 12px" src="/assets/unlock-f2d9129a534a87bbb2b1b54571db8b69.png"></td>
        <% else %>
            <td><img style="width: 12px;height: 12px" src="/assets/lock-9aa02e9fbae7af4a68144e29e7a23e6f.png"></td>
        <% end %>
        <!--<td><img style="width: 12px;height: 12px" src="/assets/unlock-f2d9129a534a87bbb2b1b54571db8b69.png"></td>-->
      </tr>
  <% end %>
  </tbody>
</table>