<head>
  <title>Compliance</title>
</head>
<body>
<% @event = Event.find(params[:id]) %>
<% @sign_in = SignInSheet.where(:event_id => @event.id).first %>
<%#= @sign_in.inspect %>
<% if @sign_in.present? %>
<% total =  @sign_in.non_profiled_attendee.to_f + @sign_in.prescribing_attendee.to_f + @sign_in.client_employee_attendee.to_f %>
    <% end %>
    <% total_fb_cost =  @event.expenses %>
         <% sum_of_total_fb_cost = "0" %>
    <% total_fb_cost.each do |a| %>
    <% sum_of_total_fb_cost =  sum_of_total_fb_cost.to_f + a.amount.to_f %>
        <% end %>
        <% ns_hcp_1 = @event.final_gurantee.to_f - total.to_f %>
        <% ns_hcp_2 =  (sum_of_total_fb_cost.to_f/@event.final_gurantee_count.to_f).to_f*ns_hcp_1 %>
        <% net_meal_cost = (sum_of_total_fb_cost.to_f - ns_hcp_2.to_f) %>
        <% meal_cost_per_attendee = (net_meal_cost.to_f/total.to_f).to_f %>



  <div class="content">
    <div class="content_wrapper">
      <h1 class="title">Compliance</h1>
      <p class="info-icons">
          <% unless meal_cost_per_attendee.blank? %>

        <% if meal_cost_per_attendee.to_f < 150 %>
        <span class="compliances">Compliant</span>
            <% else %>
        <span class="non-compliances">Non-compliant</span>
            <% end %>
            <% else %>

            <% end %>

      </p>
      <div class="left">
        <p>Event ID DLP : <%= @event.event_id_dlp %></p>

        <p>Program Type : <%= @event.event_type %></p>

        <p>Speaker : <%= @event.speaker_name %></p>

        <p>Rep : <%= @event.rep_name %></p>

        <p>Event Date : <%= @event.event_date %></p>

        <!--<p>Event Time : 10.00 PM</p>-->
        <p>Event State : <%= @event.event_state %></p>
        <p>Event City : <%= @event.event_city %></p>

        <p>Speaker State : <%= @event.speaker_state %></p>

        <p>Speaker City : <%= @event.speaker_city %></p>

        <p>Travel : <%= @event.speaker_travel_required? ? "Yes" : "NO" %></p>

      </div>
      <!-- left -->

      <div class="right">

        <div class="sign_in compliance">
               <% @event_compliance = Event.find(params[:id]) %>

          <%= form_for @event_compliance, :url => "add_compliance" do |f|%>
          <table class="notes_holder" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <%= f.text_area :compliance_notes, :placeholder => "Notes", :class => "form-control", :id => "" %>
                <!--<textarea class="form-control" rows="5">Notes</textarea>-->
              </td>

            </tr>
            <%= hidden_field_tag :event_id, @event.id %>

          </table>
          <!-- Notes -->


          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>Total Attendees</td>
              <td>
                <%= text_field_tag :total_attendee, (total.present? ? total : ""), :class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="From sign in sheet">-->
              </td>
            </tr>

            <tr>
              <td>Final Guarantee $</td>
              <td>
                <%= text_field_tag :final_gurantee,(@event.final_gurantee.present? ? @event.final_gurantee : ""), :class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="From sign in sheet">-->
              </td>
            </tr>

            <tr>
              <td>Final Guarantee Count</td>
              <td>
                <%= text_field_tag :final_gurantee_count,(@event.final_gurantee_count.present? ? @event.final_gurantee_count : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="From sign in sheet">-->
              </td>
            </tr>
            <tr>
              <td>Total F&B Cost</td>
              <td>
                <%= text_field_tag :sum_of_total_fb_cost,(sum_of_total_fb_cost.present? ? sum_of_total_fb_cost : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="From sign in sheet">-->
              </td>
            </tr>
            <tr>
              <td>NS HCP #</td>
              <td>
                <%= text_field_tag :ns_hcp_1,(ns_hcp_1.present? ? ns_hcp_1 : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="Calculated">-->
              </td>
            </tr>
            <tr>
              <td>NS HCP $</td>
              <td>
                <%= text_field_tag :ns_hcp_2,(ns_hcp_2.present? ? ns_hcp_2 : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="Calculated">-->
              </td>
            </tr>
            <tr>
              <td>Net Meal Cost </td>
              <td>
                <%= text_field_tag :net_meal_cost,(net_meal_cost.present? ? net_meal_cost : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="Calculated">-->
              </td>
            </tr>
            <tr>
              <td>Meal Cost/Attendee</td>
              <td>
                <%= text_field_tag :meal_cost_per_attendee,(meal_cost_per_attendee.present? ? meal_cost_per_attendee : ""),:class => "form-control", :id => "" %>
                <!--<input type="text" class="form-control" placeholder="Calculated">-->
              </td>
            </tr>

          </table>


          <footer>
            <%= f.submit "Save", :class=>"btn btn-primary" %>
            <!--<button type="button" class="btn btn-primary  ">Save</button>-->
            <a class="btn btn-primary " href="/events/index">Back</a>
          </footer>
              <% end %>


        </div>
        <!-- manage events -->


      </div>
      <!-- right -->


    </div>
    <!-- content ends -->


  </div>
  <!-- content_wrapper ends -->

<!--</div>-->
<!-- wrapper ends -->


<script>

    // $("#modal-states").kendoDropDownList();
    // $("#timezone").kendoDropDownList();
    $("#vtd-datepicker, #to-datepicker, #evt_date").kendoDatePicker();


    // Create Event form
    $("#expense1,  #paymentBy").kendoDropDownList();


</script>

</body>

