<h1 class="title">Event List</h1>
<div class="filters">
<div class="head_left">
<span style="" class="k-widget k-datepicker k-header"><span class="k-picker-wrap k-state-default"><input type="text" value="09/01/2014" id="from-datepicker" data-role="datepicker" style="" class="k-input" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="from-datepicker_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is Monday, September 01, 2014"><span class="k-select" unselectable="on" role="button" aria-controls="from-datepicker_dateview"><span class="k-icon k-i-calendar" unselectable="on">select</span></span></span></span>
<span style="" class="k-widget k-datepicker k-header"><span class="k-picker-wrap k-state-default"><input type="text" value="09/01/2015" id="to-datepicker" data-role="datepicker" style="" class="k-input" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="to-datepicker_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is Tuesday, September 01, 2015"><span class="k-select" unselectable="on" role="button" aria-controls="to-datepicker_dateview"><span class="k-icon k-i-calendar" unselectable="on">select</span></span></span></span>
</div>
<div class="head_right">
  <%= link_to "+ Create Event",new_event_path, :class => 'btn btn-primary', :style=> "float:right"%>
    <%= link_to "Report",new_event_path, :class => 'btn btn-primary' , :style=> "float:right;margin:0 3px 0 0;"%>
</div>
</div>
<div class="event_list">
  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table">
    <tbody>
    <tr>
      <th scope="col">Event Id</th>
      <th scope="col">Event Date <span class="caret"></span></th>
      <th scope="col">Event Type</th>
      <th scope="col">Speaker</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.event_id_dlp %></td>
      <td><%= event.event_date %></td>
      <td><%= event.event_type %></td>
      <td><%= event.speaker_name %></td>
      <!--<td><%#= link_to "Edit",edit_event_path(event), :class => 'label label-warning' %></td>-->
      <!--<td><%#= link_to "Delete", event_path(event),:method => :delete, :data => {:confirm => "Are You Sure!!"}, :class => 'label label-del' %></td>-->
      <td><a href="/expense/manage_event?id=<%= event.id %>">ME</a></td>
      <td><a href="/sign_in_sheet/sign_in_sheet?id=<%= event.id %>">SI</a></td>
      <td><a href="/events/compliance?id=<%= event.id %>">C</a></td>
      <td><img src="<%= event.speaker_travel_required? ? "/assets/travel2.1-478d7bd7e946a4add86037f8f0db19b3.png" : "/assets/travel26-075dd01fd9d8c789a2b04dc8bc380bb9.png" %>"></td>
      <td><i class="fa fa-lock"></i></td>
    </tr>
    <%end%>
    </tbody>
  </table>
</div>
<script type="text/javascript">
$("#from-datepicker").kendoDatePicker();
$("#to-datepicker").kendoDatePicker();
$("#event_event_state, #event_speaker_state, #event_event_type, #event_quarter, #event_event_id_smi, #program_type, #event_type, #program_type, #quarter, #us_states, #speaker_states").kendoDropDownList();
</script>
<style>
    #Conf_table_previous {
        margin: 0px 25px 0px 0px;
    }
    .label-del
    {
        background-color: #ff2d2d
    }
</style>